assets/misc
assets/rl_checkpoints
assets/vision_pretrain

assets/annotation/*
!assets/annotation/pen_scale.json

assets/sapien/*
!assets/sapien/101685
!assets/sapien/101732

assets/robot/*
!assets/robot/atlas_description

__pycache__/
*.egg-info/
*.ini
examples/model_*zip

.vscode/
data/
assets.zip
log/